﻿@using PainelEletronicoWeb.Models
@model IEnumerable<VereadorModel>

@{
    ViewBag.Title = "Vereadores";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Cadastros/Vereador.js")"></script>
}

<ol class="breadcrumb">
    <li><a href="javascript:void(0)">Cadastros</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                @{ 
                    string selecionado = (HttpContext.Current.Session["IDCamaraVereador"]==null)?string.Empty:HttpContext.Current.Session["IDCamaraVereador"].ToString();
                    SelectListItem itemTodas = new SelectListItem { Value = "", Text = "Todas as câmaras" };
                    List<SelectListItem> lista = (new VereadorModel()).CamarasMunicipais.ToList();
                    lista.Insert(0,itemTodas);
                    SelectList listaCamaras = new SelectList(lista,"Value","Text",selecionado);

                }
                <td align="center"><h4>@ViewBag.Title pertencentes à:@Html.DropDownList("Filtro", listaCamaras, new { @class = "form-control filtroCamara", @style = "width:100%" })</h4></td>
                <td align="center" valign="middle" style="width:100px">
                    <button class="btn btn-primary btn-xs inserir" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
            </tr>
        </thead>

        <tbody id="Inserir" style="display: none;">
            @if (!string.IsNullOrEmpty(selecionado))
            {
                @Html.Partial("VereadorInserir", new VereadorModel() { Ativo = true, IDCamaraMunicipal = new Guid(selecionado)})
            }
            else
            {
                @Html.Partial("VereadorInserir", new VereadorModel() { Ativo = true })
            }
        </tbody>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td align="center">
                        <button class="btn btn-default btn-xs editar" data-id="@item.ID">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-danger btn-xs excluir" data-id="@item.ID">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
                @Html.Partial("VereadorInserir", item)
            }
        </tbody>
    </table>
</div>