﻿@model PainelEletronicoWeb.Models.VereadorModel
<tr class="form" style="display: none;">
    <td>
        <form id="form_@Model.ID">
            <div class="form-group row">
                <div class="col-sm-2 text-center">
                    @Html.HiddenFor(model => model.FotoBase64String)
                    @if (!string.IsNullOrEmpty(Model.FotoBase64String))
                    {
                        <img src="@Html.Raw("data:image/jpeg;base64,"+Model.FotoBase64String)" id="img_@Model.ID" class="img-thumbnail" width="200" height="200"><br>
                    }
                    else
                    {
                        <img src="../images/200x200.png" id="img_@Model.ID" class="img-thumbnail" width="200" height="200"><br>
                    }
                    <div class="input-group input-file">
                        <span class="input-group-addon">
                            <a class='btn btn-primary' href='javascript:;'>
                                Alterar foto...
                                <input class="imagemFoto" id="file_@Model.ID" type="file" name="file" />
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="form-group row">
                        <div class="col-sm-4">
                            @Html.HiddenFor(model => model.ID)
                            <label>@Html.DisplayNameFor(model => model.Nome)</label>
                            @Html.TextBoxFor(model => model.Nome, Model.Nome, new { @maxlength = "500", @class = "form-control", @style = "width:100%" })
                        </div>
                        <div class="col-sm-4">
                            <label>@Html.DisplayNameFor(model => model.Email)</label>
                            @Html.TextBoxFor(model => model.Email, Model.Email, new { @maxlength = "500", @class = "form-control", @style = "width:100%" })
                        </div>
                        <div class="col-sm-4">
                            <label>@Html.DisplayNameFor(model => model.IDPartido)</label>
                            @Html.DropDownListFor(model => model.IDPartido, (SelectList)Model.Partidos, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label>@Html.DisplayNameFor(model => model.IDCamaraMunicipal)</label>
                            @Html.DropDownListFor(model => model.IDCamaraMunicipal, (SelectList)Model.CamarasMunicipais, new { @class = "form-control", @style = "width:100%" })
                        </div>
                        <div class="col-sm-4">
                            <label>@Html.DisplayNameFor(model => model.CodigoPrisma)</label>
                            @Html.TextBoxFor(model => model.CodigoPrisma, Model.CodigoPrisma.ToString(), new { @maxlength = "500", @class = "form-control", @style = "width:100%" })
                        </div>
                        <div class="col-sm-2">
                            <label>@Html.DisplayNameFor(model => model.Senha)</label>
                            @Html.TextBoxFor(model => model.Senha, Model.Senha, new { @maxlength = "500", @class = "form-control", @style = "width:100%" })
                        </div>
                        <div class="col-sm-2">
                            <label>@Html.DisplayNameFor(model => model.Ativo)</label>
                            @Html.CheckBoxFor(model => model.Ativo)
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </td>
    <td align="center">
        <button class="btn btn-success btn-xs salvar" type="button" data-id="@Model.ID">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button class="btn btn-default btn-xs cancelar" type="button">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
    </td>
</tr>