﻿@using PainelEletronicoWeb.Models
@model IEnumerable<VotacaoModel>

@{
    ViewBag.Title = "Votações";
}

@section Scripts {
<script type="text/javascript" src="@Url.Content("~/Scripts/Cadastros/Votacao.js")"></script>
}

<ol class="breadcrumb">
    <li><a href="javascript:void(0)">Cadastros</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td align="center"><h4>@ViewBag.Title</h4></td>
                <td align="center" valign="middle" style="width:100px">
                    <button class="btn btn-primary btn-xs inserir" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
            </tr>
        </thead>

        <tbody id="Inserir" style="display: none;">
            @Html.Partial("VotacaoInserir", new VotacaoModel() { DataVotacao = DateTime.Now })
        </tbody>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td align="center">
                        <button class="btn btn-default btn-xs editar" data-id="@item.ID">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-danger btn-xs excluir" data-id="@item.ID">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
                @Html.Partial("VotacaoInserir", item)
            }
        </tbody>
    </table>
</div>