﻿@{
    ViewBag.ApplicationName = "Painel Eletrônico Web";
    ViewBag.Title = "Erro";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewBag.ApplicationName</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-custom-extension.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/respond.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Painel/Painel.js")"></script>
</head>
<body>
    <div class="container-fluid full-width-div full-height-div">
        <h2>@ViewBag.ApplicationName</h2>
        <hr />
        <h3><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Ocorreu um erro:</h3>
        <h3>@ViewBag.MensagemErro</h3>
    </div>
</body>
</html>


