﻿@using PainelEletronicoWeb.Models
@{
    ViewBag.ApplicationName = "Painel Eletrônico Web";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewBag.ApplicationName</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink((string)ViewBag.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
@if (Request.IsAuthenticated)
{
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Cadastros <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @if (User.IsInRole("Superadmin"))
                            {
                                <li>@Html.ActionLink("Câmaras Municipais", "CamaraMunicipal", "Cadastros")</li>
                                <li>@Html.ActionLink("Vereadores", "Vereador", "Cadastros")</li>
                            }
                            <li>@Html.ActionLink("Votações", "Votacao", "Cadastros")</li>
                        </ul>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a href="javascript:void(0);" onclick="javascript:painel.abrirPainel('@CamaraMunicipalModel.ObterDiretorio(User.Identity.Name)');">Painel</a>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
}
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
