﻿@using PainelEletronicoWeb.Models;
@model CamaraMunicipalModel
@{
    ViewBag.ApplicationName = "Painel Eletrônico Web";
    ViewBag.Title = "Painel";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewBag.ApplicationName</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="/CustomCSS/painel.css" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-custom-extension.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/respond.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Painel/Painel.js")"></script>
</head>
<body bgcolor="#000000">
    <div class="container-fluid full-width-div full-height-div"> 
        @Html.Hidden("IDCamaraMunicipal", Model.ID)
        <div class="row" id="painel" style="width:100%;height:100%;display:none">
            <div class="col-lg-6" id="box_metade_esquerda">
                <br />
                <div class="row" style="height:35%">
                    <div class="col-lg-6 text-center" style="color:#FFFFFF;height:100%">
                        <div id="box_logo" class="col-lg-12 text-center corFundoPrimaria">
                            @if (!string.IsNullOrEmpty(Model.BrasaoBase64String))
                            {
                                <img src="@Html.Raw("data:image/jpeg;base64,"+Model.BrasaoBase64String)" style="width:150px;height:150px" width="150" height="150"><br>
                            }
                            else
                            {
                                <img src="../../images/transpa.gif" style="width:150px;height:150px" width="150" height="150"><br>
                            }
                            @if (!string.IsNullOrEmpty(Model.Presidente))
                            {
                                <div class="row text-center full-width-div corPrimaria" style="padding-left:10px; margin:0px;width:100%;background-color:#ffffff;">
                                    <h4 align="center" id="nome_camara">@Model.Descricao</h4>
                                    <h4 align="center" id="titulo_presidente">PRESIDENTE</h4>
                                </div>
                                <div class="row text-left full-width-div corPrimaria" style="padding-left:10px; margin:0px;width:100%;background-color:#ffffff;">
                                    <h4 id="nome_presidente">@Model.Presidente</h4>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6" style="color:#FFFFFF;height:100%">
                        <div class="col-lg-12" id="box_pauta">
                            <h1 id="descricao_pauta">@Html.Raw(Model.Votacao == null ? "Nenhuma votação cadastrada" : Model.Votacao.Descricao)</h1>
                            <br />
                            @if (Model.Votacao != null)
                            {
                                @Html.Hidden("IDSessao", Model.Votacao.ID)
                                if (Model.Votacao.Status != null && Model.Votacao.Status.Equals("ENCERRADA") && !string.IsNullOrEmpty(Model.Votacao.ResultadoVotacao) && (Model.Votacao.ResultadoVotacao.Equals("APROVADO") || Model.Votacao.ResultadoVotacao.Equals("REPROVADO")))
                                {
                                    <div id="ResultadoVotacaoDiv" class="row text-center full-width-div" style="padding-left:0px; margin:0px;width:100%;background-color:#ffffff;color:rgb(62,64,149)">
                                        <h4 id="ResultadoVotacao">@Model.Votacao.ResultadoVotacao</h4>
                                    </div>
                                }
                                else
                                {
                                    <div id="ResultadoVotacaoDiv" class="row text-center full-width-div" style="padding-left:0px; margin:0px;width:100%;background-color:#ffffff;color:rgb(62,64,149);display:none">
                                        <h4 id="ResultadoVotacao"></h4>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" style="height:15%">
                    <div class="col-lg-6" style="height:100%">
                        <div class="col-lg-12 text-center boxRelogios">
                            <h3>Uso da palavra</h3>                            
                            <h1><div id="relogio_palavra">00:00:00</div></h1>                            
                        </div>
                    </div>
                    <div class="col-lg-6" style="height:100%">
                        <div class="col-lg-12 text-center boxRelogios">
                            <h3>Uso do aparte</h3>
                            <h1><div id="relogio_aparte">00:00:00</div></h1>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" style="height:25%">
                    <div class="col-lg-6" style="height:100%">
                        <div class="col-lg-12 text-center corFundoPrimaria" id="bloco_presenca">
                            <h1 id="titulo_presenca">Presença</h1>
                            <div class="row corFundoSecundaria linhasTotais">
                                <div class="col-lg-9 text-left" style="height:100%">
                                    <h4>PRESENTES</h4>
                                </div>
                                <div class="col-lg-3 text-right" style="height:100%">
                                    <h4 id="TotalPresentes">@Html.Raw(Model.Votacao == null ? 0 : Model.Votacao.TotalPresentes)</h4>
                                </div>
                            </div><br />
                            <div class="row corFundoSecundaria linhasTotais">
                                <div class="col-lg-9 text-left" style="height:100%">
                                    <h4>AUSENTES</h4>
                                </div>
                                <div class="col-lg-3 text-right" style="height:100%">
                                    <h4 id="TotalAusentes">@Html.Raw(Model.Votacao == null ? 0 : Model.Votacao.TotalAusentes)</h4>
                                </div>
                            </div><br />
                            <div class="row corFundoSecundaria linhasTotais">
                                <div class="col-lg-9 text-left" style="height:100%">
                                    <h4>TOTAL</h4>
                                </div>
                                <div class="col-lg-3 text-right" style="height:100%">
                                    <h4 id="TotalGeral">@Html.Raw(Model.Votacao == null ? 0 : Model.Votacao.TotalGeral)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" style="height:100%">
                        <div class="col-lg-12 text-center corFundoPrimaria" id="bloco_votos">
                            <h1 id="titulo_total_votos">Total de Votos</h1>
                            @{ 
                                string[] opcoes = new string[] { "Sim", "Não", "Abstenção" };
                                if(Model.Votacao!=null)
                                {
                                    opcoes = Model.Votacao.Opcoes;
                                }
                            }
                            <div class="row corFundoSecundaria linhasTotais">
                                <div class="col-lg-9 text-left" style="height:100%">
                                    <h4>@opcoes[0].Trim()</h4>
                                </div>
                                <div class="col-lg-3 text-right" style="height:100%">
                                    <h4 id="TotalSim">@Html.Raw(Model.Votacao == null ? 0 : Model.Votacao.TotalSim)</h4>
                                </div>
                            </div><br />
                            <div class="row corFundoSecundaria linhasTotais">
                                <div class="col-lg-9 text-left" style="height:100%">
                                    <h4>@opcoes[1].Trim()</h4>
                                </div>
                                <div class="col-lg-3 text-right" style="height:100%">
                                    <h4 id="TotalNao">@Html.Raw(Model.Votacao == null ? 0 : Model.Votacao.TotalNao)</h4>
                                </div>
                            </div><br />
                            <div class="row corFundoSecundaria linhasTotais">
                                <div class="col-lg-9 text-left" style="height:100%">
                                    <h4>@opcoes[2].Trim()</h4>
                                </div>
                                <div class="col-lg-3 text-right" style="height:100%">
                                    <h4 id="TotalAbstencao">@Html.Raw(Model.Votacao == null ? 0 : Model.Votacao.TotalAbstencao)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="row" style="height:10%">
                    <div class="col-lg-12" style="height:100%">
                        <div class="col-lg-12 text-center" style="color:rgb(236, 50, 55);background-color:rgb(54,52,53);height:100%">
                            <div class="row">
                                <div class="col-lg-6" id="box_data">
                                    <h3 id="texto_data">DATA</br>@DateTime.Now.ToString("dd/MM/yyyy")</h3>
                                </div>
                                <div class="col-lg-6" id="box_hora">
                                    <h3 id="texto_hora">HORA</br><div id="horaAtual">@DateTime.Now.ToString("HH:mm:ss")</div></h3>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ListaVereadores" class="col-lg-6 corFundoPrimaria">
                @Html.Partial("ListaVereadores", Model.Vereadores)
            </div>
        </div>
        <div class="row text-center" id="instrucoes">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h2><a href="javascript:void(0);" onclick="javascript:painel.toggleFullScreen();">Clique aqui</a> ou pressione a tecla [Enter] para executar o painel.</h2>
        </div>
    </div>
</body>
</html>
