﻿@using PainelEletronicoWeb.Models
@model IEnumerable<VereadorModel>
@{ 
    var corLinha = "corFundoPrimaria";
    var corLinhaAusente = string.Empty;
}
@foreach (var item in Model)
{
    var corFonte = "textoPadraoVereador";
    switch (item.Voto)
    {
        case "SIM":
        case "APROVA":
        case "CONCORDA":
            corFonte = "textoSimConcordaAprova";
            break;
        case "NÃO":
        case "NÃO CONCORDA":
        case "NÃO APROVA":
            corFonte = "textoNaoNaoConcordaNaoAprova";
            break;
        case "ABSTENÇÃO":
            corFonte = "textoAbstencao";
            break;
        case "AUSENTE":
            corLinhaAusente = "corFundoVereadorAusente";
            break;
    }
    <div class="row linhaVereador @Html.Raw(string.IsNullOrEmpty(corLinhaAusente)?corLinha:corLinhaAusente)">
        <div class="col-lg-1" style="padding:0px">
            @if (!string.IsNullOrEmpty(item.FotoBase64String))
            {
                <img src="@Html.Raw("data:image/jpeg;base64,"+item.FotoBase64String)" class="fotoVereador"><br>
            }
        </div>
        <div class="col-lg-6" id="coluna_nome_partido">
            <h3>@item.Nome - @item.SiglaPartido</h3>
        </div>
        <div class="col-lg-5 @corFonte">
            <h3>@item.Voto</h3>
        </div>
    </div>
    if(corLinha.Equals("corFundoPrimaria"))
    {
        corLinha = "corFundoSecundaria";
    }
    else
    {
        corLinha = "corFundoPrimaria";
    }
    corLinhaAusente = string.Empty;
}