﻿@using PainelEletronicoWeb.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home";
}
<div class="row">
@if (!Request.IsAuthenticated)
{
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Entrar" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @*@Html.ActionLink("Register as a new user", "Register")*@
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>

    <div class="col-md-4">
        <section id="socialLoginForm">
            @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
        </section>
    </div>
}
else if (User.IsInRole("Admin"))
{
    @Html.Hidden("IDCamaraMunicipal", (object)ViewBag.IDCamaraMunicipal)
    <div class="col-md-5">
        <br>
        <h4>Relógio de uso da palavra</h4>
        @*<div class="input-group">
            <input id="IntervaloPalavra" class="form-control" type="number" value="@ViewBag.TempoUsoPalavra" placeholder="Intervalo em minutos" aria-label="Intervalo em minutos">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default playPalavra" aria-label="Play" data-tipo="PALAVRA" data-toggle="tooltip" title="Iniciar / Pausar">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
                <button type="button" class="btn btn-default stop" aria-label="Stop" data-tipo="PALAVRA" data-toggle="tooltip" title="Parar">
                    <span class="glyphicon glyphicon-stop"></span>
                </button>
            </div>
        </div>
        <small class="form-text text-muted">Tempo em minutos</small>
        <h1><div id="relogio_palavra">00:00:00</div></h1>*@
        <div class="row">
            <div class="col-md-4">
                <input id="IntervaloPalavra" class="form-control" type="number" value="@ViewBag.TempoUsoPalavra" placeholder="Intervalo em minutos" aria-label="Intervalo em minutos">
                <small class="form-text text-muted">Tempo em minutos</small><br><br>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-success btn-lg playPalavra" aria-label="Iniciar relógio" data-tipo="PALAVRA" data-botao="play" data-toggle="tooltip" title="Iniciar relógio">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    Iniciar
                </button>
            </div>
            <div class="col-md-5">
                <button type="button" class="btn btn-warning btn-lg pausePalavra" aria-label="Pausar relógio" data-tipo="PALAVRA" data-botao="pause" data-toggle="tooltip" title="Pausar relógio">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                    Pausar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1><div id="relogio_palavra">00:00:00</div></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-danger btn-lg stop" aria-label="Zerar relógio" data-tipo="PALAVRA" data-toggle="tooltip" title="Zerar relógio">
                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                    Reiniciar
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <br>
        <h4>Relógio de uso de aparte</h4>
        @*<div class="input-group">
            <input id="IntervaloAparte" class="form-control" value="@ViewBag.TempoUsoAparte" type="number" placeholder="Intervalo em minutos" aria-label="Intervalo em minutos">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default playAparte" aria-label="Play" data-tipo="APARTE" data-toggle="tooltip" title="Iniciar / Pausar">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
                <button type="button" class="btn btn-default stop" aria-label="Stop" data-tipo="APARTE" data-toggle="tooltip" title="Parar">
                    <span class="glyphicon glyphicon-stop"></span>
                </button>
            </div>
        </div>
        <small class="form-text text-muted">Tempo em minutos</small>
        <h1><div id="relogio_aparte">00:00:00</div></h1>*@
        <div class="row">
            <div class="col-md-4">
                <input id="IntervaloAparte" class="form-control" type="number" value="@ViewBag.TempoUsoAparte" placeholder="Intervalo em minutos" aria-label="Intervalo em minutos">
                <small class="form-text text-muted">Tempo em minutos</small><br><br>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-success btn-lg playAparte" aria-label="Iniciar relógio" data-tipo="APARTE" data-botao="play" data-toggle="tooltip" title="Iniciar relógio">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    Iniciar
                </button>
            </div>
            <div class="col-md-5">
                <button type="button" class="btn btn-warning btn-lg pauseAparte" aria-label="Pausar relógio" data-tipo="APARTE" data-botao="pause" data-toggle="tooltip" title="Pausar relógio">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                    Pausar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1><div id="relogio_aparte">00:00:00</div></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-danger btn-lg stop" aria-label="Zerar relógio" data-tipo="APARTE" data-toggle="tooltip" title="Zerar relógio">
                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                    Reiniciar
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-1 text-center">
        <a href="/Cadastros/Votacao">
            <h1 class="glyphicon glyphicon-ok" aria-hidden="true"></h1>
            <h5>Votações</h5>
        </a>
    </div>
    <div class="col-md-1 text-center">
        <a href="javascript:void(0);" onclick="javascript:painel.abrirPainel('@ViewBag.Diretorio');">
            <h1 class="glyphicon glyphicon-th-large" aria-hidden="true"></h1>
            <h5>Painel</h5>
        </a>
    </div>
}
else if (User.IsInRole("Superadmin"))
{
    <div class="col-md-2 text-center">
        <a href="/Cadastros/CamaraMunicipal">
            <h1 class="glyphicon glyphicon-home" aria-hidden="true"></h1>
            <h5>Câmaras<br>Municipais</h5>
        </a>
    </div>
    <div class="col-md-2 text-center">
        <a href="/Cadastros/Vereador">
            <h1 class="glyphicon glyphicon-user" aria-hidden="true"></h1>
            <h5>Vereadores</h5>
        </a>
    </div>
    <div class="col-md-2 text-center">
        <a href="/Cadastros/Votacao">
            <h1 class="glyphicon glyphicon-ok" aria-hidden="true"></h1>
            <h5>Votações</h5>
        </a>
    </div>
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="/Scripts/Painel/Painel.js"></script>
    <script type="text/javascript" src="/Scripts/Painel/Relogio.js" )"></script>
}