﻿#box_metade_esquerda{
    height:100%;
    background-color:#ffffff
}

#ListaVereadores{
    height:100%;
}

#box_logo {
    padding:0px;
    color:#000000;
    height:100%
}

#box_pauta{
    color:#FFFFFF;
    background-color:#000000;
    height:100%;
}

#descricao_pauta{
    color:#FFFFFF;
}

.boxRelogios{
    color:#000000;
    background-color:#cccccc;
    height:100%
}

#relogio_palavra {
    color:#FFFFFF;
}

#relogio_aparte {
    color: #FFFFFF;
}

#bloco_presenca{
    color:rgb(255, 241, 18);
    height:100%
}

#bloco_votos{
    color:#000000;
    height:100%
}

#titulo_presenca{
    color:#000000;
}

#titulo_total_votos{
    color:#000000;
}

.linhasTotais{
    color:#555555;
}

#box_data{
    height:100%
}

#box_hora{
    height:100%
}

#texto_data{
    color:#000000;
}

#texto_hora{
    color:#000000;
}

.fotoVereador{
    height:57px;
    width:57px;
}

.linhaVereador{
    height:7.69%;
    border:1px solid white;
}

.corFundoVereadorAusente{
    background-color:#000000;
}

.corPrimaria{
    background-color:#999999;
}

.corFundoPrimaria{
    background-color:#999999;
}

.corFundoSecundaria{
    background-color:#cccccc;
}

.textoPadraoVereador{
    color:rgb(255, 255, 255);
}

.textoSimConcordaAprova{
    color:rgb(0, 168, 90)
}

.textoNaoNaoConcordaNaoAprova{
    color:rgb(236, 50, 55)
}

#coluna_nome_partido{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    color:#FFFFFF
}

.textoAbstencao{
    color:rgb(254, 240, 19)
}