﻿@model PainelEletronicoWeb.Models.CamaraMunicipalModel
<tr class="form" style="display: none;">
    <td>
        <form id="form_@Model.ID">
            <div class="form-group row">
                <div class="col-sm-2 text-center">
                    @Html.HiddenFor(model => model.BrasaoBase64String)
                    @if (!string.IsNullOrEmpty(Model.BrasaoBase64String))
                    {
                        <img src="@Html.Raw("data:image/jpeg;base64,"+Model.BrasaoBase64String)" id="img_@Model.ID" class="img-thumbnail" width="200" height="200"><br>
                    }
                    else
                    {
                        <img src="../images/200x200.png" id="img_@Model.ID" class="img-thumbnail" width="200" height="200"><br>
                    }
                    <div class="input-group input-file">
                        <span class="input-group-addon">
                            <a class='btn btn-primary' href='javascript:;'>
                                Alterar brasão...
                                <input class="imagemBrasao" id="file_@Model.ID" type="file" name="file" />
                            </a>
                        </span>
                    </div>
                    </br></br>
                    <button type="button" class="btn btn-default btn-lg abrirPainel" data-id="@Model.ID">
                        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Painel
                    </button>
                </div>
                <div class="col-sm-10">
                    <div class="form-group row">
                        <div class="col-sm-4">
                            @Html.HiddenFor(model => model.ID)
                            <label>@Html.DisplayNameFor(model => model.Descricao)</label>
                            @Html.TextBoxFor(model => model.Descricao, Model.Descricao, new { @maxlength = "500", @class = "form-control", @style = "width:100%" })
                            <small class="form-text text-muted">Ex.: Câmara Municipal de São Paulo</small>
                        </div>
                        <div class="col-sm-4">
                            <label>@Html.DisplayNameFor(model => model.Endereco)</label>
                            @Html.TextBoxFor(model => model.Endereco, Model.Endereco, new { @maxlength = "500", @class = "form-control" })
                        </div>
                        <div class="col-sm-2">
                            <label>@Html.DisplayNameFor(model => model.Cidade)</label>
                            @Html.TextBoxFor(model => model.Cidade, Model.Cidade, new { @maxlength = "500", @class = "form-control" })
                        </div>
                        <div class="col-sm-2">
                            <label>@Html.DisplayNameFor(model => model.Estado)</label>
                            @Html.DropDownListFor(model => model.Estado, (SelectList)Model.Estados, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label>@Html.DisplayNameFor(model => model.TempoUsoPalavra)</label>
                            @Html.TextBoxFor(model => model.TempoUsoPalavra, Model.TempoUsoPalavra.ToString(), new { @maxlength = "500", @class = "form-control" })
                            <small class="form-text text-muted">Tempo de uso da palavra em minutos</small>
                        </div>
                        <div class="col-sm-2">
                            <label>@Html.DisplayNameFor(model => model.TempoUsoAparte)</label>
                            @Html.TextBoxFor(model => model.TempoUsoAparte, Model.TempoUsoAparte.ToString(), new { @maxlength = "500", @class = "form-control" })
                            <small class="form-text text-muted">Tempo de uso de aparte em minutos</small>
                        </div>
                        <div class="col-sm-2">
                            <label>@Html.DisplayNameFor(model => model.UsuarioAdministrador)</label>
                            @Html.TextBoxFor(model => model.UsuarioAdministrador, Model.UsuarioAdministrador, new { @maxlength = "500", @class = "form-control" })
                            <small class="form-text text-muted">Login responsável pelo cadastro de votações</small>
                        </div>
                        <div class="col-sm-2">
                            <label>@Html.DisplayNameFor(model => model.SenhaUsuarioAdministrador)</label>
                            @Html.TextBoxFor(model => model.SenhaUsuarioAdministrador, Model.SenhaUsuarioAdministrador, new { @maxlength = "500", @class = "form-control" })
                            <small class="form-text text-muted">Senha do Administrador</small>
                        </div>
                        <div class="col-sm-4">
                            <label>@Html.DisplayNameFor(model => model.Diretorio)</label>
                            @Html.TextBoxFor(model => model.Diretorio, Model.Diretorio, new { @maxlength = "500", @class = "form-control" })
                            <small class="form-text text-muted">Diretorio de acesso exclusivo da câmara municipal.<br />Não utilizar espaçamentos, acentuação ou caracteres especiais.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <label>@Html.DisplayNameFor(model => model.Presidente)</label>
                            @Html.TextBoxFor(model => model.Presidente, Model.Presidente, new { @maxlength = "500", @class = "form-control", @style = "width:100%" })
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </td>
    <td align="center">
        <button class="btn btn-success btn-xs salvar" type="button" data-id="@Model.ID">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button class="btn btn-default btn-xs cancelar" type="button">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
    </td>
</tr>