﻿@using PainelEletronicoWeb.Models
@model List<VizualizarPresencaViewModel>


@{

    ViewBag.ApplicationName = "Painel Eletrônico Web";
    ViewBag.Title = "Presença";
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>*@

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td align="center" colspan="3"><h4>@ViewBag.Title</h4></td>
            </tr>
        </thead>

        <tbody id="Inserir">
        <td>Data Presença</td>
        <td>Nome</td>
        </tbody>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.DataPresenca)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>

                  

                </tr>

            }
        </tbody>
    </table>
</div>
