﻿#box_metade_esquerda{
    height:100%;
    background-color:rgb(216,226,111)
}

#ListaVereadores{
    height:100%;
}

#box_logo {
    padding:0px;
    color:#FFFFFF;
    height:100%
}

#box_pauta{
    color:#FFFFFF;
    background-color:rgb(8,140,80);
    height:100%;
}

#descricao_pauta{
    color:#FFFFFF;
}

.boxRelogios{
    color:rgb(236, 50, 55);
    background-color:rgb(54,52,53);
    height:100%;
}

#relogio_palavra {
    color:rgb(236, 50, 55);
}

#relogio_aparte {
    color: rgb(236, 50, 55);
}

#bloco_presenca{
    color:rgb(255, 241, 18);
    height:100%
}

#bloco_votos{
    color:rgb(255, 241, 18);
    height:100%
}

#titulo_presenca{
}

#titulo_total_votos{
}

#bloco_votos{
    color:rgb(255, 241, 18);
    height:100%
}


.linhasTotais{
    color:#ffffff;
}

#box_data{
    height:100%
}

#box_hora{
    height:100%
}

#texto_data{
    color:rgb(236, 50, 55)
}

#texto_hora{
    color:rgb(236, 50, 55)
}

.fotoVereador{
    height:57px;
    width:57px;
}

.linhaVereador{
    height:7.69%;
    border:1px solid white;
}

.corFundoVereadorAusente{
    background-color:rgb(236, 50, 55);
}

.corPrimaria{
    color:rgb(62, 64, 149);
}

.corFundoPrimaria{
    background-color:rgb(62, 64, 149);
}

.corFundoSecundaria{
    background-color:rgb(55, 53, 100);
}

.textoPadraoVereador{
    color:rgb(255, 255, 255);
}

.textoSimConcordaAprova{
    color:rgb(0, 168, 90)
}

.textoNaoNaoConcordaNaoAprova{
    color:rgb(236, 50, 55)
}

#coluna_nome_partido{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    color:#FFFFFF
}

.textoAbstencao{
    color:rgb(254, 240, 19)
}

