﻿@using PainelEletronicoWeb.Models;
@model CamaraMunicipalModel
@{
    ViewBag.ApplicationName = "Painel Eletrônico Web";
    ViewBag.Title = "Painel";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewBag.ApplicationName</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-custom-extension.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/respond.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Cadastros/Votacao.js")"></script>
</head>
<body bgcolor="#000000">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center">
                @if (!string.IsNullOrEmpty(Model.BrasaoBase64String))
                {
                    <img src="@Html.Raw("data:image/jpeg;base64,"+Model.BrasaoBase64String)" width="200" height="200">
                }
            </div>
            <div class="col-lg-9">
                <h3>@Model.Descricao</h3>
                @if (Model.Votacao != null && Model.Votacao.Status != null && Model.Votacao.Status.Equals("ABERTA"))
                {
                    <h4>@Model.Votacao.Descricao</h4>
                    <br/>
                    <form id="formVotacao">
                        @Html.Hidden("voto")
                        <div id="radioBtn" class="btn-group">
                        @{ 
                            int cont = 0;
                        }
                        @if (!ViewBag.Autenticado)
                        {
                            @Html.Hidden("idVereador")
                            <b>Vereador: <span id="nome_vereador">Identifique-se</span></b><br>
                            <div class="input-group" style="width:300px">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nome... <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        @foreach (var item in Model.Vereadores)
                                        {
                                            <li><a href="javascript:void(0);" onclick="javascript: $('#nome_vereador').html('@item.Nome');$('#idVereador').val('@item.ID'); $('#senha').focus();">@item.Nome</a></li>
                                        }
                                    </ul>
                                </div>
                                <input type="number" name="senha" id="senha" class="form-control" aria-label="..." placeholder="senha numérica">
                                <span class="input-group-btn">
                                    <button class="btn btn-default seAutenticar" type="button">OK</button>
                                </span>
                            </div>
                        }
                        else
                        {
                            @Html.Hidden("idVereador",(Guid)ViewBag.IDVereador)
                            <b>Selecione seu voto:</b><br>
                            <div>
                                @foreach (var item in Model.Votacao.Opcoes)
                                {
                                    <a class="btn btn-default btn-sm notActive selecionarOpcao" data-toggle="fun" data-title="@cont">@item</a>
                                    cont++;
                                }
                            </div><br><br>
                            <b>Vereador: <span id="nome_vereador">@ViewBag.NomeVereador</span></b><br>
                            <div>
                                <a class="btn btn-default btn-sm notActive votar" data-toggle="fun" data-title="@cont">Votar</a>
                            </div><br><br>
                            <div>
                                <a class="btn btn-default btn-sm notActive sair" data-toggle="fun" data-title="@cont">Sair / Logoff</a>
                            </div>

                            @*<br><br>

                            <b>Vereador: <span id="nome_vereador">@ViewBag.NomeVereador</span></b> <a href="javascript:void(0);" class="sair">[ TROCAR VEREADOR ]</a><br>
                            <div class="input-group" style="width:300px">*@
                                @*<div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nome... <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        @foreach (var item in Model.Vereadores)
                                        {
                                            <li><a href="javascript:void(0);" onclick="javascript: $('#nome_vereador').html('@item.Nome');$('#idVereador').val('@item.ID'); $('#senha').focus();">@item.Nome</a></li>
                                        }
                                    </ul>
                                </div>*@
                                @*<input type="number" name="senha" id="senha" class="form-control" aria-label="..." placeholder="senha numérica">
                                <span class="input-group-btn">
                                    <button class="btn btn-default votar" type="button">Votar</button>
                                </span>
                            </div>*@
                        }
                    </form>
                }
                else
                {
                    <h4>Nenhuma votação aberta no momento</h4>
                }
            </div>
        </div>
    </div>
</body>
</html>

