﻿@using PainelEletronicoWeb.Models
@model VotacaoModel
<tr class="form" style="display: none;">
    <td>
        <form id="form_@Model.ID">
            <div class="form-group row">
                <div class="col-sm-4">
                    @Html.HiddenFor(model => model.ID)
                    <label>@Html.DisplayNameFor(model => model.Descricao)</label>
                    @Html.TextBoxFor(model => model.Descricao, Model.Descricao, new { @maxlength = "500", @class = "form-control", @style = "width:100%" })
                </div>
                <div class="col-sm-2">
                    <label>@Html.DisplayNameFor(model => model.DataVotacao)</label>
                    <div class='input-group date' data-date-format="dd/mm/yyyy" data-language="br">
                        @Html.TextBoxFor(model => model.DataVotacao, Model.DataVotacao.ToString("dd/MM/yyyy"), new { @maxlength = "500", @class = "form-control", @style = "width:100%" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label>@Html.DisplayNameFor(model => model.Status)</label>
                    @Html.DropDownListFor(model => model.Status, (SelectList)Model.ListaStatus, new { @class = "form-control", @style = "width:100%" })
                </div>
                <div class="col-sm-2">
                    <label>@Html.DisplayNameFor(model => model.ResultadoVotacao)</label>
                    @Html.DropDownListFor(model => model.ResultadoVotacao, (SelectList)Model.ListaResultado, new { @class = "form-control", @style = "width:100%" })
                </div>
                @if(User.IsInRole("Superadmin"))
                {
                    <div class="col-sm-3">
                        <label>@Html.DisplayNameFor(model => model.IDCamaraMunicipal)</label>
                        @Html.DropDownListFor(model => model.IDCamaraMunicipal, (SelectList)Model.CamarasMunicipais, new { @class = "form-control", @style = "width:100%" })
                    </div>
                }
                else
                {
                    @Html.Hidden("IDCamaraMunicipal",CamaraMunicipalModel.ObterID(User.Identity.Name))
                }
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <label>@Html.DisplayNameFor(model => model.OpcoesVoto):</label></br>
                    @if ((Model.Status != null && Model.Status.Equals("AGENDADA"))|| Model.Status == null)
                    {
                        <label class="radio-inline">@Html.RadioButtonFor(model => model.OpcoesVoto, "SIM / NÃO / ABSTENÇÃO") SIM / NÃO / ABSTENÇÃO</label>
                        <label class="radio-inline">@Html.RadioButtonFor(model => model.OpcoesVoto, "CONCORDA / NÃO CONCORDA / ABSTENÇÃO") CONCORDA / NÃO CONCORDA / ABSTENÇÃO</label>
                        <label class="radio-inline">@Html.RadioButtonFor(model => model.OpcoesVoto, "APROVA / NÃO APROVA / ABSTENÇÃO") APROVA / NÃO APROVA / ABSTENÇÃO</label>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.OpcoesVoto)
                        <label class="radio-inline">@Html.RadioButtonFor(model => model.OpcoesVoto, "SIM / NÃO / ABSTENÇÃO",new { @readonly = "readonly", @disabled = "disabled" }) SIM / NÃO / ABSTENÇÃO</label>
                        <label class="radio-inline">@Html.RadioButtonFor(model => model.OpcoesVoto, "CONCORDA / NÃO CONCORDA / ABSTENÇÃO", new { @readonly = "readonly", @disabled = "disabled" }) CONCORDA / NÃO CONCORDA / ABSTENÇÃO</label>
                        <label class="radio-inline">@Html.RadioButtonFor(model => model.OpcoesVoto, "APROVA / NÃO APROVA / ABSTENÇÃO", new { @readonly = "readonly", @disabled = "disabled" }) APROVA / NÃO APROVA / ABSTENÇÃO</label>
                    }
                </div>
            </div>
        </form>
    </td>
    <td align="center">
        <button class="btn btn-success btn-xs salvar" type="button" data-id="@Model.ID">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button class="btn btn-default btn-xs cancelar" type="button">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
    </td>
</tr>