﻿@using PainelEletronicoWeb.Models
@model List<VisualizarVotacaoViewModel>


@{

    ViewBag.ApplicationName = "Painel Eletrônico Web";
    ViewBag.Title = "Vizualizar Votacao";
}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td align="center" colspan="3"><h4>@ViewBag.Title</h4></td>
            </tr>
        </thead>

        <tbody id="Inserir">
           <td>Nome</td>
            <td>Voto</td>
            <td>Descrição</td>
        </tbody>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Voto)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>

            </tr>
              
            }
        </tbody>
    </table>
</div>